
<!DOCTYPE html>
<html> 
  <head> 
    <title>Portfolio</title> 
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 
  </head> 
  
  <header class="container">
    <div class="row">
      <h1 class="menu col-xs-8">Stef Church</h1>
      <nav class="col-sm-4">
        <p class="pill-white"><a href="/">Welcome</a></p>
        <p class="pill-white"><a href="/">Portfolio</a></p>
        <p class="pill-white"><a href="/">About</a></p>
        <p class="pill-white"><a href="/">Contact</a></p>
      </nav>
    </div>
  </header>
  
  <body> 
    <div class="header">
      <div class="container"> 
        <div class="row"> 
        </div>
      </div>
    </div> 
    <div class="main home"> 
      <div class="jumbotron"> 
        <div class="container"> 
          <h2>Hello. My name is <span class="highlight">Stef Church</span> and I'm a mathematical coder</h2>
          <a class="pill-blue" href="portfolio">View my Work</a>
        </div>
      </div>
    </div>
  </body>
    
  <footer class="container">
    <div class="row">
      <ul class="col-sm-8 text-right">
        <li class="col-sm-1">
          <img src="https://image.flaticon.com/icons/svg/33/33600.svg" href="#">
        </li>
        <li class="col-sm-1">
          <img src="https://image.flaticon.com/icons/svg/34/34227.svg" href="#">         
        </li>        
        <li class="col-sm-1">
          <img src="https://image.flaticon.com/icons/svg/33/33702.svg" href="#">
        </li>
      </ul>
    </div>
  </footer>
</html>
