header h1{
  font-color:rgb(85,135,193);  
}
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

div > h1 {
  font-size: 1.8rem;
}

nav > p {
  cursor: pointer;
}

.pill-blue, .pill-white {
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.pill-blue {
  background-color: rgb(85,135,193);
  color: #FFFFFF;
}

footer {
  margin-top: 20px;
}

footer div {
  display: flex;
  align-items: center;
}

/* Customizations of Bootstrap classes */

header .row {
  display: flex;
  align-items: center;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  height: 350px;
  background-image: url("https://cdn.pixabay.com/photo/2017/02/13/21/57/lake-2063957_960_720.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  background-color: #FFFFFF;
  display: inline-block;
  color: rgb(85,135,193);
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron h3 {
  color: #FFFFFF;
  font-weight: bold;
}

.btn-right {
  color: #2e6da4;
  background-color: #FFFFFF;
}

.col-sm-1 img {
  min-width: 32px;
  min-height: 33px;
  max-width: 40px;
}
